.container {
  display: flex;
  justify-content: center;
  background-color: #FFE5F1;
}

button {
  margin-top: 20px;
  background-color: #ADA2FF;
  color: #fff;
  padding: 10px;
  border: 1px solid #C0DEFF;
  text-transform: uppercase;
}
.cta{
  margin-top: 20px;
  background-color: #FF8E9E;
}
